.search{
    .content{
        padding: 20px;
    }
    .title{
        width: max-content;
        background-color: $background-dark-absolute;
        color: $font-light;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
    }
     
    .data{
        background-color: $font-trasnparent-gray;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

        // &__not-found {
        //     text-align: center;
        //     padding: 20px 0;
        // }

        .list-games{
            .ui.grid{
                margin: 0;
            }
        }

        

    .data__empty-blank {
        background-color: $font-trasnparent-gray;
        width: 100%;
        height: 650px;
        

        h3 {
            font-size: 2rem;
            text-align: center;
        }
        }
    }
}


